streamlit

langchain
langchain-core
langchain-community

langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-text-splitters

chromadb

sentence-transformers

google-generativeai

python-dotenv

pypdf

python-docx
docx2txt

pandas
numpy
tqdm